body {
    text-align: center;
    background-color: lightgray;
    display: grid;
    height: 100vh;
    margin: 0;
    place-items: center;
    font-size: larger;
    font-family: 'Courier New', 'Arial Narrow', Arial, sans-serif;
}

.textbox {
    background-color: white;
    color: black;
    padding: 1vh;
    padding-top: 6.5vh;
    border: double black 8px;
    margin: 3vh;
}

.hidden {
    visibility: hidden;
    padding: 1vh;
}
p:hover .hidden, p:focus .hidden {
    visibility: visible;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: double gray 5px;
    margin-top: 3vh;
}

.btn:hover, .btn:focus {
    background-color: white;
    color: black;
}

@media (prefers-color-scheme: dark){
    .textbox {
        color: white;
        background-color: black;
        border-color: white;
    }
    body {
        background-color: darkslategray;
    }
}