/* keep body simple */
body {
    text-align: center;
    background-color: lightseagreen;
    display: grid;
    margin: 0;
    place-items: center;
    font-size: large;
    font-family: 'Courier New', 'Arial Narrow', Arial, sans-serif;
}

img {
    display: inline-block;
   height: auto; 
   width: 30vw;
    max-width: 150px;
}

/* style textboxes */
.textbox, .lb-data .lb-caption {
    background-color: white;
    color: black;
    padding: 1vh;
    padding-top: 6.5vh;
    border: double black 8px;
    margin: 3vh;
}

/* style notebook */
#notebook {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    width: 30vw;
    height: auto;
}

  /* caption */
  .lb-data .lb-caption {
    display: block;
    font-size: large;
    padding-top: 2vh;
    text-align: center;
    font-family: 'Lucida Handwriting', 'Segoe Script', 'Courier New', 'Arial Narrow', Arial, sans-serif;
  }

  /* hide elements */
.hidden, .hidden_text {
    visibility: hidden;
    padding: 1vh 1vw;
}
p:hover .hidden_text, p:focus .hidden_text {
    visibility: visible;
}


/* style buttons */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: double gray 5px;
    margin-top: 3vh;
}

.btn:hover, .btn:focus {
    background-color: white;
    color: black;
}


/* dark mode */
@media (prefers-color-scheme: dark){
    .textbox {
        color: white;
        background-color: black;
        border-color: white;
    }
    body {
        background-color: rgb(1, 72, 72);
    }
}

/* hide certain content from laptop */
@media screen and (max-width: 600px) {
    .hidden {
        visibility: visible;
    }
}




/* route specific styling */

/* hallway one cat moves right*/
#cat {
  position: relative;
  left: 0;
  transition: left 5s linear;
}

#cat:focus, #cat:hover {
  left: 30vw;
}
